
  <script type="text/javascript">
  <!--  
  var c = 0;
  var zimages = new Array();
  var descs = new Array();
  var theids = new Array();
    
  <% @pictures.each do |picture| %>
		zimages[c] = new Image();
		theids[c] = "<%= picture.id %>"
		descs[c] = "<%= picture.description %>"
		zimages[c].src = "<%= picture.url %>"		
		c++;
  <% end %>
  //-->
  </script>  
  
 
  
<h1>Zimbabwe in Pictures</h1>



<strong><p id="picture_description"><%= @first_pic.description %></p></strong>
<small><a id="picture_id" href="/pictures/<%= @first_pic.id %>/edit">edit</a></small>



<script type="text/javascript">
	<!--
	//variable that will increment through the images
	var step=1;
	c--;
	function slideit(){
		//call function "slideit()" every 5 seconds
		setTimeout("slideit()",5000)	
		document.images.slide.src= zimages[step].src
		document.getElementById('picture_description').innerHTML = descs[step]
		document.getElementById('picture_id').href = theids[step]
		if (step<c)
			step++
		else
			step=0
		
		
	}
	slideit()
	//-->
</script>	



<br />

<small><%= link_to 'New Picture', new_picture_path %></small>
